<div class="container mx-auto grid justify-items-center pt-10">
  <div class="flex flex-col lg:flex-row">
    <div>
      <!-- Empty Left Side Panel -->
    </div>
    <div class="bg-slate-800 rounded-md p-5">
      <div class="relative" [style.width.px]="width" [style.height.px]="height">
        <img
          src="/assets/store_floorplan.png"
          [width]="width"
          [height]="height"
        />
        <canvas
          #heatmapCanvas
          class="absolute left-0 top-0 z-20"
          [width]="width"
          [height]="height"
          (mousemove)="handleMouseMovement($event)"
          (click)="handleMouseClick($event)"
        ></canvas>
        <div
          #overlayDiv
          class="absolute bg-slate-600 z-30 pointer-events-none p-1.5 text-white rounded-md text-center"
          style="width: 200px"
          [style.left.px]="tooltip.x"
          [style.top.px]="tooltip.y"
          [style.display]="tooltip.visible ? 'block' : 'none'"
        >
          <strong>{{ tooltip.title }}</strong
          ><br />
          {{ tooltip.content }}
        </div>
      </div>
    </div>
    <div>
      <app-region-details [region]="selectedRegion"></app-region-details>
    </div>
  </div>
</div>
